/* BODYYY */
body {
  background-color: lightblue;
  color: red;
  font-family: 'Segoe UI', sans-serif;
}


/* HEADERS */
h1, h2, h3 {
  color: red;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* ALERCE MILENARIO */
img {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}

/* ALERT SUCCESS*/
.alert-success {
  background-color: rgb(23, 112, 70);
  border: none;
  color: #ffffff;
  font-size: 1.1rem;
}

/* BOTÓN QUE BAJA Y SUBE */

#btnArriba {
  position: fixed;
  bottom: 90px;
  right: 90px;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  display: none; /* Debería estar oculto al principioooo */
  transition: opacity 0.3s ease;
}

#btnArriba:hover {
  background-color: #256b46;
}

/* FOOTER */
footer {
  background-color: lightblue;
}

@media (max-width: 576px) {
  body {
    background-color: hwb(204 31% 13%);
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  footer p {
    font-size: 0.9rem;
  }
}

/* COMPUTADORES*/
@media (min-width: 992px) {
  main {
    max-width: 1000px;
    margin: auto;
  }

  img {
    max-width: 80%;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
/* MÓVILES */ 

@media (max-width: 576px) {
  main {
    padding: 0 15px;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
/* SI ES MAS CHICA Q SEA ROSADA*/
  body {
    background-color: rgb(231, 88, 112);
  }
}
